<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <title>Main page</title>
</head>
<body>
<input type="hidden" id="facebook" th:value="${countFacebook}"/>
<input type="hidden" id="github" th:value="${countGithub}"/>
<input type="hidden" id="google" th:value="${countGoogle}"/>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-4">
            <canvas id="pieChart"></canvas>
        </div>
    </div>
    <div class="row justify-content-center" sec:authorize="!isAuthenticated()">
        <div class="col-1 align-self-center">
            <a href="/oauth2/authorization/google">
                <img src="img/google.svg" width="80%" height="80%" alt="google"/>
            </a>
        </div>
        <div class="col-1 align-self-center">
            <a href="/oauth2/authorization/github">
                <img src="img/github.svg" width="80%" height="80%" alt="github"/>
            </a>
        </div>
        <div class="col-1 align-self-center">
            <a href="/oauth2/authorization/facebook">
                <img src="img/facebook.svg" width="90%" height="90%" alt="facebook"/>
            </a>
        </div>
    </div>
    <div class="row justify-content-center" sec:authorize="isAuthenticated()">
        <div class="col-1 align-self-center">
            <a th:href="@{/logout}"><img src="img/logout.svg" width="75%" height="75%" alt="google"/></a>
        </div>
    </div>
</div>
<script src="/js/pieChartMainPage.js"></script>
</body>
</html>