<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="blocked" th:content="${blocked}">
    <meta name="idUser" th:content="${idUser}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>User page</title>
</head>
<body>
<input type="hidden" id="csrfToken" th:value="${_csrf.getToken()}">
<input type="hidden" id="blocked" th:value="${blocked}">
<div class="container-fluid">
    <div class="row justify-content-end py-2">
        <div class="col-1">
            <button type="button" class="btn btn-success" style="width:100%" onclick="onButtons('unlock')">
                <span class="oi" data-glyph="lock-unlocked"></span>
            </button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-danger"style="width:100%" onclick="onButtons('lock')">
                <span class="oi" data-glyph="lock-locked"></span>
            </button>
        </div>
        <div class="col-1">
            <button type="button" class="btn btn-dark" style="width:100%" onclick="onButtons('delete')">
                <span class="oi" data-glyph="delete"></span>
            </button>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col">
            <table id="user-table" class="table table-bordered table-hover table_sort">
                <thead class="thead-dark">
                <tr>
                    <th scope="col" style="width: 5%">
                        <input type="checkbox" onchange="checkedDisplayed(this)">
                    </th>
                    <th scope="col" style="width: 5%">id</th>
                    <th scope="col" style="width: 30%">username</th>
                    <th scope="col" style="width: 15%">
                        <select id="socialSelect" class="form-select" onchange="myFilter()">
                            <option selected>social</option>
                            <option>github</option>
                            <option>google</option>
                            <option>facebook</option>
                        </select>
                    </th>
                    <th scope="col" style="width: 15%">first date</th>
                    <th scope="col" style="width: 15%">last date</th>
                    <th scope="col" style="width: 15%">
                        <select id="blockedSelect" class="form-select" onchange="myFilter()">
                            <option selected>status</option>
                            <option>lock</option>
                            <option>unlock</option>
                        </select></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user:${users}">
                    <td scope="row" style="width: 5%"><input type="checkbox"></td>
                    <td th:text="${user.id}" style="width: 5%">id</td>
                    <td th:text="${user.username}" style="width: 30%">username</td>
                    <td th:text="${user.social}" style="width: 15%">social</td>
                    <td th:text="${dateformat.format(user.firstDate)}" style="width: 15%">first date</td>
                    <td th:text="${dateformat.format(user.lastDate)}" style="width: 15%">last date</td>
                    <td th:text="${user.blocked}?'lock':'unlock'" style="width: 15%">false</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center mt-2">
        <div class="col-4 col-lg-2">
            <a th:href="@{/}" class="btn btn-dark" style="width:100%;height: 100%">
                back to home page
            </a>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/blockedScript.js"></script>
<script type="text/javascript" src="js/filterAndSortTable.js"></script>
<script type="text/javascript" src="js/buttonsScripts.js"></script>
</body>
</html>